# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Virtual Environment
turtlebot4_venv

# ROS 2 Toolchain
build/*
log/*
install/*
llama.cpp

# Frames Info
frames_*
bags/*

# Claude Stuff
TODO.md
claude_logs/

# llama.cpp
*.gguf
